@{
    ViewBag.Title = "Наша страничка";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.Message3</h1>
        <h1>@ViewBag.Message4</h1>
    </div>
</body>
</html>
